/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    /* Smooth scrolling */
}

body {
    font-family: 'Playfair Display', serif;
    /* Replace with your chosen font */
}

/* Add this to your CSS file (e.g., index.css) */
.hero-background {
    background-size: cover;
}

@media (max-width: 768px) {
    .hero-background {
        background-size: 120%;
        /* Show more of the image on smaller screens */
    }
}

@media (max-width: 480px) {
    .hero-background {
        background-size: contain;
        /* Make sure the entire image fits */
    }
}

.combined-parallax-container {
    @apply flex flex-col justify-center items-center;
    --aspect-ratio: 1.5;
    /* Adjust this to your desired aspect ratio */
    aspect-ratio: var(--aspect-ratio);
    width: 100%;
    height: 100%;
}

.birds-image {
    @apply w-full;
    height: calc(60% * var(--aspect-ratio));
    /* 60% of the container's height */
}

.hero-content {
    @apply w-full;
    height: calc(40% * var(--aspect-ratio));
    /* 40% of the container's height */
}