/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    /* Smooth scrolling */
}

body {
    font-family: 'Playfair Display', serif;
    /* Replace with your chosen font */
}

/* Add this to your CSS file (e.g., index.css) */
.hero-background {
    background-size: cover;
}

@media (max-width: 768px) {
    .hero-background {
        background-size: 120%;
        /* Show more of the image on smaller screens */
    }
}

@media (max-width: 480px) {
    .hero-background {
        background-size: contain;
        /* Make sure the entire image fits */
    }
}